.contact-address {
    display: flex;
    padding: 10px;
    gap: 10px;
}
.contact-icon i {
    -webkit-text-stroke: thin transparent;
    font-size: 1.5rem;
    color: #ff4141;
}
.contact-icon i:hover{
    -webkit-text-stroke: 0;
    color: #ff0000;
}